<section class="text-center text-white bg-black py-5 hero img5">
    <h2 class="display-5">Crystal George, M.S., LPC, CRC, CVE</h2>
    <h3 class="display-7">Offering Individual and Couples Counseling</h3>
    <a
            class="btn btn-light mt-4"
            href="https://crystal-george.clientsecure.me/"
    >
        Schedule Appointment</a
    >
</section>