<div class="mb-4">
    <!-- Professional verification provided by Psychology Today -->
    <a href="https://www.psychologytoday.com/profile/976409" class="sx-verified-seal"></a>
    <script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="13"
            data-id="976409"
            data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy9bQkFER0VdL3Byb2ZpbGUvW1BST0ZJTEVfSURdP2NhbGxiYWNrPXN4Y2FsbGJhY2s="></script>
    <!-- End Verification -->
</div>