:root {
  --clr-white: #fff;
  --clr-primary: #5d971b;
  --clr-off-white: #f8f8f8;
  --clr-grey: #514e49;
  --clr-purple: #67174b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--clr-white);
  text-shadow: 1px 1px 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h2 {
  font-size: 2rem;
}

.hero h3 {
  font-size: 3rem;
}

.hero h4 {
  font-size: 1.5 rem;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  display: flex;
  list-style-type: none;
}

.contact-info {
  background-color: var(--clr-grey);
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}

.contact-info ul li {
  margin-left: 20px;
  color: white;
}

.links {
  background-color: var(--clr-white);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.links ul li {
  margin-left: 20px;
  cursor: pointer;
}

.links ul li:hover {
  border-bottom: 2px solid var(--clr-purple);
}

main {
  background-color: var(--clr-off-white);
}

footer {
  background-color: var(--clr-grey);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
}

footer span {
  margin-left: 20px;
}

.btn-contact-me {
  background-color: var(--clr-white);
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 20px;
}

.btn-contact-me:hover {
  background-color: var(--clr-purple);
  transform: scale(1.1);
  color: white;
}

.about {
  background-color: var(--clr-off-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}

.about h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.about h1:before {
  content: "- ";
}

.about h1:after {
  content: " -";
}

.btn-learn-more {
  border: 1px solid var(--clr-grey);
  background-color: transparent;
  color: var(--clr-grey);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
}

.btn-learn-more:hover {
  transform: scale(1.1);
  background-color: var(--clr-purple);
  color: var(--clr-white);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  text-align: center;
  line-height: 2rem;
}

.welcome h1 {
  font-size: 1.8rem;
}

.welcome h2 {
  font-size: 1.2rem;
}

.content-main {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-photo {
  width: 150px;
  border-radius: 40%;
}

.text {
  margin-left: 30px;
}

.text p {
  margin-bottom: 20px;
}

.name {
  display: flex;
  font-size: 2.5rem;
  font-family: cursive;
}
