:root {
  --clr-white: #fff;
  --clr-primary: #5d971b;
  --clr-off-white: #f8f8f8;
  --clr-grey: #514e49;
  --clr-purple: #67174b;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* body {
  width: 100%;
} */

main {
  margin-top: 70px;
}

h1 {
  text-align: center;
}
/* 
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--clr-off-white);
}

.contact-info {
  background-color: var(--clr-grey);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  flex-wrap: wrap;
}

.contact-info li {
  color: var(--clr-white);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  color: black;
  border-bottom: 1px solid lightgrey;
}

.navbar li {
  color: black;
  text-align: center;
}

.navbar li:hover {
  color: var(--clr-purple);
}
*/
.hero {
  background-image: url("../images/photo-1582174543967-f059e6f4f7ce.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-crystal {
  /* object-fit: cover; */
  /* height: 100px;
  width: 100px; */
}
/*

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  text-align: center;
  padding: 20px 0;
}

.hero-content h1,
h2,
h3,
h4 {
  margin-bottom: 10px;
}

.hero-content h2 {
  font-size: 2rem;
}

.hero-content h3,
h4 {
  font-size: 1.2rem;
}

.btn-contact-me {
  background-color: var(--clr-white);
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: unset;
}

.horizontal-list {
  display: flex;
  list-style-type: none;
}

li {
  margin: 5px 20px;
}

.btn-contact-me:hover {
  background-color: var(--clr-purple);
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  font-size: 1.8rem;
}

.about-content-main {
  margin: 30px 0;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.head-photo {
  width: 150px;
  height: auto;
  background-position: center;
  background-size: contain;
}

.btn-learn-more {
  border: 1px solid var(--clr-grey);
  background-color: transparent;
  color: var(--clr-grey);
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-learn-more:hover {
  background-color: var(--clr-purple);
  color: var(--clr-white);
  border-color: white;
}

p {
  line-height: 1.5em;
  margin: 10px;
}

button {
  cursor: pointer;
}

footer {
  background-color: var(--clr-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  white-space: nowrap;
  width: 100%;
  margin-top: auto;
}

.address {
  display: flex;
  justify-content: center;
  margin: 10px 30px;
  flex-wrap: wrap;
}

.address li {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  margin: 30px;
  max-width: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
} */

/* @media only screen and (max-width: 1200px) {
  .contact-info {
    justify-content: center;
  }

  .about-content-main {
    flex-direction: column;
    row-gap: 20px;
  }

  .address {
    flex-direction: column;
  }
} */
