:root {
    --clr-white: #fff;
    --clr-primary: #5d971b;
    --clr-off-white: #f8f8f8;
    --clr-grey: #514e49;
    --clr-purple: #67174b;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

main {
    margin-top: 70px;
}

h1 {
    text-align: center;
}

.hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img1 {
    background-image: url("../images/photo-1582174543967-f059e6f4f7ce.jpeg");
}

.img2 {
    background-image: url("../images/hannah-busing-Zyx1bK9mqmA-unsplash.jpg")
}

.img3 {
    background-image: url("../images/hero.jpeg");
    background-position: top !important;

}

.img4 {
    background-image: url("../images/angele-kamp-OSRpN1D52EM-unsplash.jpg")
}


.image-crystal {
    /* object-fit: cover; */
    /* height: 100px;
    width: 100px; */
}
