---
title: Crystal George | Home
layout: 'base.njk'
---
<section class="container col">
  <h1 class="my-4">Welcome</h1>
  <div>
    <div class="row my-4">
      <img
        class="col-lg-3 mb-4"
        src="/images/crystal.jpeg"
        alt="picture of Crystal George"
      />
      <div class="col-lg-9">
        <p>
          Feeling the weight of the world on your shoulders? Stuck in
          your career and uncertain of the next steps to take? Finding
          it difficult to make progress and achieve goals? Counseling is
          a therapeutic process where you can safely explore
          opportunities for growth in a non-judgmental environment.
        </p>
        <p>

          Whether you are experiencing challenges in your professional
          or private life or are looking to advance in your career, this
          is a safe, confidential space where you can address concerns,
          identify and define values, establish goals and develop
          strategies to achieve goals. Counseling can be scary, as you
          are being vulnerable with a stranger, but with support you can
          begin taking steps forward to find acceptance and comfort. I look forward to speaking
          with you and discovering ways to help you achieve your goals. </p>
        <p>Starting November 1, 2022, I will begin seeing clients in person, as well as virtually. My office will be
          housed at the Stoke Center in Denton.
        <address>
          Stoke<br>
          608 E Hickory St. Suite 128<br>
          Denton, TX 76205
        </address>
        </p>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-dark mb-5" href="what-to-expect.njk">What to Expect</a>
    </div>
  </div>
</section>

