---
title: Rates
layout: 'base.njk'
---
<div class="container">
    <h1 class="my-4">Rates</h1>
    <p>Initial appointment: $125 for 60 minutes. Subsequent sessions are $100 per 50-minute session.</p>
    <p>Clients are seen by appointment only. In addition to individual sessions, I offer:</p>
    <ul>
        <li>10 Minute phone call/case management: $0</li>
        <li>Half-hour session: $50</li>
        <li>Reports for Physicians and Courts: $75 per report</li>
    </ul>
    <section>
        <h2>Payment</h2>
        <p>
            You are responsible for any authorization, fees or co-pays
            at each visit. Payments will be processed through the Simple Practice platform, which accepts all major
            credit and debit cards.
            A receipt for third party reimbursement will be provided, if requested.
        </p>
    </section>
    <section>
        <h2>Cancellation Policy</h2>
        <p>
            Please give at least 24 hours’ notice if you need to cancel or reschedule an appointment for any reason. A $100 fee will be charged for a late cancellation of less than 24 hours. A $100 fee will be charged for a no-show (full session fee). You are responsible for calling to cancel or reschedule your appointment in a timely manner during normal business hours.
        </p>
    </section>
</div>

