---
title: What to Expect
layout: 'base.njk'
---

<div class="container">
    <h1 class="my-4">What to Expect</h1>
    <p>
        If you are new to therapy, you may find it challenging at first to be
        yourself, thinking you need to put your best foot forward. I am not
        here to judge or critique you. I am here to provide a safe space
        where you can grow and find acceptance and comfort. 
    </p>
    <p>
        Our initial session will be used to discuss your purpose for seeking
        counseling, my role as the therapist, and what you would like to
        achieve in our time together. Relying on Cognitive Behavioral,
        Reality, Solution-Focused, and Person-Centered therapies, strategies
        utilized during sessions may include problem-solving, understanding
        the relationships between beliefs, thoughts, and feelings, as well
        as focusing on the present. Since the sessions are about you, there
        is an expectation you will be actively engaged and willing to do the
        hardwork necessary for growth to occur.
    </p>
    <p>What you can expect with me as your therapist:</p>
    <ol>
        <li>Challenges to set goals and make progress towards them.</li>
        <li>
            Celebration of the victories and growth, no matter how
            insignificant you may feel they are.
        </li>
        <li>
            Support and guidance, but I can assure you I do not have all the
            answers.
        </li>
        <li>An open-mind and a non-judgmental heart.</li>
        <li>
            An advocate who will consistently promote autonomy and informed
            choice.
        </li>
        <li>
            A safe space where you can be yourself (feel free to swear/curse,
            just let it out).
        </li>
    </ol>
    <p>
        Growth is uncomfortable. There may be tears, smiles, setbacks, and
        HUGE leaps forward, but no matter what, there will be support.
    </p>
</div>
